@model List<ProductSupplier.Models.Product>
@{
    ViewBag.Title = "ProductAveragePrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .auto-style {
        color: #FFFFFF;
    }

    .t {
        text-align: center;
        vertical-align: middle;
    }
</style>
<h2>Product Average Prices</h2>

<div style="height: 250px; overflow: auto;">
    <table class="table table-condensed table-hover" ">
        <thead style="position: sticky;top: 0">
            <tr bgcolor="#222222" class="auto-style">
                <th width="33%">Product ID</th>
                <th width="33%">Product Name</th>
                <th width="33%">Average Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@Math.Round(product.Prices.Average(x => x.Price), 2)</td>
                </tr>
            }
        </tbody>
    </table>
</div>