@{
    ViewBag.Title = "Welcome To The About Page";
    ViewBag.SubTitle = "Homework Assignment 3";
}

<h2><strong>@ViewBag.Title</strong></h2>
<h4>@ViewBag.SubTitle</h4>

<div class="container">
   
    <div class="row">
        <div class="col-md-6">
            <article >
                <strong>Bio</strong>
                <p>
                    I am a second year student at the University of Pretoria, currently enrolled for BSC. Information and Knowledge systems. My passion for programming begin
                    in 2018 when I was introduced to the subject I>T> in high school. Since then I have gone on to complete my first year and complete so many personal projects 
                    during my freetime. Currently I am completing an MVC assignment which allows users to upload files from their computer and then downloaad/delete them through various
                    pages. Along my coding journey, I have learnt important coding concepts and many new languages. I have taught myself basics of a few languages such as Python 
                    and Java. Up until this point I have been introduced to many new coding languages and frameworks. 
                </p>
            </article>
        </div>
        <div class="col-md-6">
            <h3><strong>Jonel Albuquerque</strong></h3>
            <figure>
                <img src="~/Content/assets/profile.jpg">
                <figcaption><strong>Jonel Albuquerque -u21598267</strong></figcaption>
            </figure>
        </div>
    </div>
   
   
   </div>

    <style>
        img {
            width: 100%;
            height: 400px
        }

       
    </style>

